<section class='nav'>
  <ul>

    <li class='logo'><button>

        <img src='../../image/apple-touch-icon.png' alt='' />
      </button></li>
    <div>
      <li><button>Investor Relation</button></li>
      <li><button>Add restaurant
        </button>
      </li>
      <li><button>Login</button></li>
      <li><button>Sign up</button></li>
    </div>
  </ul>
</section>