<section class='nav'>
  <ul>

    <li>LOGO</li>
    <div>
      <li>Investor Relation</li>
      <li>Add restaurant

      </li>
      <li>Login</li>
      <li>Sign up</li>
    </div>
  </ul>
</section>