<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Online Shopping For Food
    </title>
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../css/{{style}}">

    <link rel="apple-touch-icon" sizes="180x180" href="../../image/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../image/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../image/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
</head>
<body>

    <section style='position:relative; z-index: 20;' >
        
    {{> _navbar}}
     {{> _messages}}
    </section>
    {{{body}}}



     <script src="../../js/script.js"></script>
</body>
</html>