<section class='home'>
  <article class='firstPage'>
    <aside class='top'>
    <div class='blackBlur'></div>
      <div class="contentCover">
        {{!-- <img src='../../image/zomato.avif' alt='' /> --}}
        <h3>Discover the best food & drinks 
        </h3>
        <div class='search'>
          <i class='fa-solid fa-location-dot fa-fade'></i>
          <input type='text' id='textInput' class='location' />

          <div>
            <span class='iconContainer'>
              <i id='icon' class='arrow-icon'></i>
              <div>|</div>
              <i class='fa-solid fa-magnifying-glass fa-fade'></i>
            </span>
          </div>
          <input
            type='text'
            placeholder='Search for Restorant '
            class='restorant'
          />
        </div>
      </div>
      <div>
    </aside>
    <aside class='bottom'></aside>
  </article>
</section>

<section class='secondPart'>
  <aside>
    <div class='imgContainer'>

      <img src='../../image/CARD1.avif' alt='' />
    </div>
    <div class='cardText'>

      <h1>Order Online</h1>
      <h5>Stay home and order to your door steps</h5>
    </div>
  </aside>
  <aside>
    <div class='imgContainer'>

      <img src='../../image/CARD1.avif' alt='' />
    </div>
    <div class='cardText'>

      <h1>Order Online</h1>
      <h5>Stay home and order to your door steps</h5>
    </div>
  </aside>
  <aside>
    <div class='imgContainer'>

      <img src='../../image/CARD1.avif' alt='' />
    </div>
    <div class='cardText'>

      <h1>Order Online</h1>
      <h5>Stay home and order to your door steps</h5>
    </div>
  </aside>
</section>